@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
/*============================
      CUSTOM RESETS
  ============================
*/
@layer base {
  :root {
    scroll-padding-top: 2rem;
  }

  html {
    box-sizing: border-box;
    font-size: 50%;
    text-rendering: optimizeSpeed;
    text-size-adjust: none;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 48em) {
    html {
      font-size: 56.25%;
    }
  }

  @media (min-width: 75em) {
    html {
      font-size: 62.5%;
    }
  }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%;
    }
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: inherit;
  }

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}



.glass__effect {
  padding: 12px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
@media (max-width: 640px) {
  .glass__effect {
    padding: 6px;
    
  }
}

ul {
  list-style-type: none;
  list-style: none;
}

li {
  list-style-type: none;
}

.sub-menu {
  @apply hidden w-80 py-10 cursor-pointer;
}

.menu-bar li:hover .sub-menu {
  @apply absolute block gap-5 py-3 mt-2 text-center text-black cursor-pointer w-fit;
}

.menu-bar .li:hover .sub-menu ul {
  @apply flex flex-col items-start px-4 gap-0;
}

.menu-bar .li:hover .sub-menu ul li:hover {
  @apply text-black bg-[grey] w-full;
}
.menu-bar .li:hover .sub-menu ul li {
  @apply py-5 rounded-lg w-full;
}

.wallet-menu-bar {
  cursor: pointer;
}

.wallet-sub-menu{
  @apply hidden w-fit py-10 cursor-pointer
}
.wallet-menu-bar li:hover .wallet-sub-menu {
  @apply absolute block gap-5 py-3  right-0 text-center text-black cursor-pointer w-fit;
}

.wallet-menu-bar .li:hover .wallet-sub-menu ul {
  @apply flex flex-col items-start px-4 gap-14 py-10;
}

@font-face {
  font-family: "Aileron";
  src: url("./font/aileron/Aileron-Regular.otf");
}

@font-face {
  font-family: "Poppins";
  src: url("./font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Source-Sans";
  src: url("./font/source-sans-pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "lato";
  src: url("./font/lato/Lato2OFLWeb/Lato/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "latomedium";
  src: url("./font/lato/Lato2OFLWeb/Lato/fonts/Lato-Medium.ttf");
}
body{
  padding-top: 0px;
box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
/* background-color: red; */
}

.collectioncard:hover img {
    transform: scale(1.2, 1.2);
    transition: all 0.7s ease-in;
}


.collectioncard button {
  height: 0;
}
.collectioncard:hover button {
    height: 35px;
    transition: all 0.7s ease-in;

}